#
# Copyright (c) 2024 ZMK Project Contributors
# SPDX-License-Identifier: MIT
#

# identify MCU and board
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_MMKB=y

# system setup
CONFIG_ARM_MPU=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

# GPIO
CONFIG_GPIO=y
CONFIG_PINCTRL=y

# encoder
# CONFIG_EC11=y
# CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y

# display
CONFIG_ZMK_DISPLAY=y
CONFIG_ZMK_DISPLAY_INVERT=y
CONFIG_ZMK_WIDGET_BATTERY_STATUS_SHOW_PERCENTAGE=y
CONFIG_ZMK_WIDGET_OUTPUT_STATUS=y
# CONFIG_ZMK_DISPLAY_WORK_QUEUE_DEDICATED=y
# CONFIG_ZMK_DISPLAY_DEDICATED_THREAD_STACK_SIZE=4096
# CONFIG_ZMK_DISPLAY_DEDICATED_THREAD_PRIORITY=1

# RGB undeglow
CONFIG_ZMK_RGB_UNDERGLOW=y
# CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=y
CONFIG_ZMK_RGB_UNDERGLOW_ON_START=y
CONFIG_ZMK_RGB_UNDERGLOW_EFF_START=3
CONFIG_ZMK_RGB_UNDERGLOW_BRT_START=50
CONFIG_ZMK_RGB_UNDERGLOW_BRT_MAX=75
CONFIG_WS2812_STRIP=y
CONFIG_SPI=y

# USB & bluetooth low energy
CONFIG_ZMK_USB=y
CONFIG_ZMK_BLE=y